<body>
    <div class="container mt-5 w-50 ">
        <h1 class="text-center text-Secondary ">LOGIN PAGE</h1>
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="mb-3"><input type="text" class="form-control" placeholder="Enter Account Number"  id="bk_username"></div>
                <div class="mb-3"><input type="password" class="form-control" placeholder="Enter Password" id="bk_password"></div>
                <div class="mb-3"><button class="btn btn-success" onclick="bank.login()">Login</button></div>
    
                <a href="./registration.html">New here? Create Account</a>
                
    
            </div>
            <div class="col-3"></div>
        </div>
    
    
    
    </div>

</body>