    <nav class="navbar text-light  navbar-light bg-dark">
        <div class="container-fluid container">
        <span class="navbar-brand text-info mb-0 fs-2">BankApp</span>
        <div class="text-center fs-4">{{aim}}</div>

        </div>
    </nav>
   
    <div class="container log w-50 p-3 bg-dark bg-opacity-50">
    <form [formGroup]="loginForm" (ngSubmit)="login()">        
            <h1 class="text-center text-light ">LOGIN PAGE</h1>
            <div class="row mt-3">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="mb-2"><input type="text" name="acno" formControlName="acno" class="form-control" placeholder="Enter Account Number"  id="bk_username" required></div>
                    <div class="text-danger" *ngIf="(this.loginForm.get('acno')?.touched ||this.loginForm.get('acno')?.dirty) && this.loginForm.get('acno')?.errors" class="error">Invalid Account</div>
                    <div class="mb-2"><input type="password" name="pass" formControlName="pass" class="form-control" placeholder="Enter Password" id="bk_password" required></div>
                    <div class="text-danger" *ngIf="(this.loginForm.get('pass')?.touched ||this.loginForm.get('pass')?.dirty) && this.loginForm.get('pass')?.errors" class="error">Invalid Password</div>
                    <!-- <div class="mb-3"><button class="btn btn-success" (click)="login()">Login</button></div> -->
                    <button type="submit" class="btn btn-success">Login</button>
        
                    <p class="text-light text-decorations-none" >New here? <a routerLink="register">Create Account</a></p>
                    
        
                </div>
                <div class="col-lg-4"></div>
            </div>
        
    </form>
    </div>

