<div class="container w-50 bg-dark text-center bg-opacity-75 mt-4">
    <h1 class="text-light">Transaction History</h1>

    <div class="text-center row table text-info">
        
        <table class="border w-100">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions; let i=index;">
                    <th class="text-light">{{i+1}}</th>
                    <th class="text-light">{{transaction.amount}}</th>
                    <th class="text-light">{{transaction.Type}}</th>
                </tr>
               
            </tbody>

        </table>
    </div>
    <button class="btn  btn-success mt-3 mb-4" routerLink="/home">BACK</button>










</div>
