<div class="container bg-dark text-center bg-opacity-50 mt-4">
    <h1 class="text-light">Transaction History</h1>

    <div class="text-center row table text-info">
        <div class="col"></div>
        <table class="border">
            <thead>
                <tr>
                    <th>Amount</th>&nbsp;&nbsp;&nbsp;&nbsp;
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-light">1000</th>&nbsp;&nbsp;&nbsp;&nbsp;
                    <th class="text-light">credit</th>
                </tr>
            </tbody>

        </table>
    </div>










</div>
